.container-img {
  /* width: 300px; */
  height: 400px;
}

.container-img img {
  object-fit: cover;
  height: 90%;
  width: 100%;
  object-position: right;
  border: .5px solid #ccc;
}

.cat-title {
  margin-bottom: 40px;
}